<div class="timeline">
  <!-- Year markers (bottom to top) -->
  <div class="year-marker" style="bottom: 0px;">2012</div>
  <div class="year-marker" style="bottom: 120px;">2013</div>
  <div class="year-marker" style="bottom: 240px;">2014</div>
  <div class="year-marker" style="bottom: 360px;">2015</div>
  <div class="year-marker" style="bottom: 480px;">2016</div>
  <div class="year-marker" style="bottom: 600px;">2017</div>
  <div class="year-marker" style="bottom: 720px;">2018</div>
  <div class="year-marker" style="bottom: 840px;">2019</div>
  <div class="year-marker" style="bottom: 960px;">2020</div>
  <div class="year-marker" style="bottom: 1080px;">2021</div>
  <div class="year-marker" style="bottom: 1200px;">2022</div>
  <div class="year-marker" style="bottom: 1320px;">2023</div>
  <div class="year-marker" style="bottom: 1440px;">2024</div>
  <div class="year-marker" style="bottom: 1560px;">2025</div>


  <!-- bars -->
   <!-- Abitur: - Juli 12 -->
  <div class="bar broad" style="bottom: 0px; height: 80px;"></div>
   <!-- Bufdi: Sep 12- Jun 13 -->
  <div class="bar broad" style="bottom: 90px; height: 90px;"></div>
   <!-- BSc: Okt 13- Aug 17 -->
  <div class="bar middle" style="bottom: 220px; height: 460px;"></div>
   <!-- BA: Okt 14- Aug 19 -->
  <div class="bar right" style="bottom: 340px; height: 460px;"></div>
   <!-- SOS: Okt 16- Sep 17 -->
  <div class="bar left" style="bottom: 580px; height: 120px;"></div>




  <!-- Labels -->
  <div class="label right" style="bottom: 10px;">
    <div class="description">
      <strong>Abitur</strong><br>
      High School
    </div>
  </div>
    <!-- calc(61% - 56%) = 5% -->
  <div class="line right-short" style="bottom: 30px;"></div> 


  <div class="label left" style="bottom: 100px;">
    <div class="description">
      <strong>Federal Volunteers Service</strong><br>
      Children's hospital
    </div>
  </div>
    <!-- calc(32% - 25%) = 7% -->
  <div class="line left-short" style="bottom: 120px;"></div> 


</div>

