body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

.timeline {
  position: relative;
  width: 100%;
  height: 1680px; /* Adjust based on your timeline's total height */
  border-left: 2px solid #333;
  margin-left: 100px;
  /* overflow-y: auto; */
}

/* Year labels on the left of the axis */
.year-marker {
  position: absolute;
  left: -4%;
  font-size: 14px;
  color: #666;
}

/* Timeline bars */
.bar {
  position: absolute;
  background-color: #1b911f;
  border-radius: 2px;
  width: 8%;
}

.bar.left { left: 30%; }
.bar.middle { left: 40%; background-color: #1378ca; }
.bar.right { left: 50%; background-color: #1378ca; }
.bar.broad { left: 30%; width: 28%; }


/* abroad bars */
.abroad-bar {
  position: absolute;
  background-color: #d8e99b;
  border-radius: 0px;
  width: 80%;
  left: 5%;
}
.abroad-description {
  position: absolute;
  background-color: transparent;
  right: 72%;  
  max-width: 21%;
}


/* Labels */
.label {
  position: absolute;
  display: flex;
  width: 20%;
}

.label.right {
  left: 63%;
  /* margin-left: 20px; */
  flex-direction: row;
  align-items: left;
}

.label.left {
  left: 5%;
  /* margin-right: 20px; */
  flex-direction: row-reverse;
  align-items: right;
}

.line {
  height: 2px;
  background: #333;
  position: absolute;
}

.line.left-short {
  left: 26%;
  width: 5%;
}

.line.left-middle {
  left: 26%;
  width: 15%;
}

.line.right-short {
  left: 57%;
  width: 5%;
}

.line.right-middle {
  left: 47%;
  width: 15%;
}


.description {
  background: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  width: auto;  /* fixed width */
  white-space: normal;
}


/* smaller CV text on mobile devices */
@media (max-width: 768px) {
  .description {
    font-size: 12px;
    padding: 4px 6px;
  }
  .label.right {
    width: 30%;
  }
  .year-marker {
    font-size: 11px;
    left: -10%;
  }
  .timeline {
    margin-left: 3%;
  }
  .abroad-bar {
    width: 90%;
  }
  .abroad-description {
    font-size: 12px;
    padding: 3px 6px;
    /* max-width: 200px; narrower on mobile */
  }

  .greedy-nav a {
  margin: 0.5rem;
  padding: 0.5rem 0;
  }

  /* for about page */
  body.about-page .page__content p {
    font-size: 90%;
  }
}



/* dark mode */ 
html[data-theme="dark"] .description {
    background: rgb(53, 53, 53);
    /* color: #e0e0e0; */
  }
html[data-theme="dark"]  .line {
    background: #848383;
  }
  
html[data-theme="dark"] .year-marker {
    color: #bbb;
  }
  
html[data-theme="dark"] .bar {
    /* optional: adjust colors to be more dark-mode friendly */
    filter: brightness(0.8);
  }

html[data-theme="dark"] .abroad-bar {
  background-color: #51573e;
  }
  /* .label.left, .label.right {
    color: #373737;
  } */

